
<h5>Buscar:</h5>
<!-- se utiliza asi para acceder a los eventos de las teclas keyup.enter -->
<!-- Crear una referencia loca #referencia -->
<!-- se evnia asi txtBuscar.value -->
<input type="text" class="form-control" placeholder="Buscar gifs...." 
(keyup.enter)="buscar()" 
(blur)="buscar()" 
#txtBuscar>

<select name="cars" id="cars" class="form-control mt-3" #txtCantidad >
    <option value="5">5</option>
    <option value="10" selected>10</option>
    <option value="15">15</option>
    <option value="20">20</option>
    <option value="25">25</option>
    <option value="30">30</option>
    <option value="35">35</option>
    <option value="40">40</option>
    <option value="45">45</option>
    <option value="50">50</option>
    <option value="55">55</option>
    <option value="60">60</option>
    <option value="65">65</option>
    <option value="70">70</option>
    <option value="100">..100</option>
</select>

